<div ng-controller="info.FaaissuedController as vm" class="l-wrapper tcMedContent">
  <div ng-include="::vm.url.template('common/_page-styles-ls.html')"></div>
  <div class="l-wrapper tcMedContent">
    <div class="contentPanel1">
      <h2>BasicMed Summary: FAA-Issued Medical Required</h2>
<p>Common reasons for someone to not qualify to fly under BasicMed can include but are not limited to the following issues: </p>
<ul>
    <li>You have never held an FAA-issued medical certificate.
    <ul>
        <li>You are required to have had a medical exam by an Aviation Medical Examiner and <strong>have been issued at least one FAA-issued medical certificate</strong> before you can be eligible to fly under BasicMed.
        <ul>
            <li>You will need to have a medical exam by an Aviation Medical Examiner and obtain an FAA-issued medical certificate before you can be eligible to fly under BasicMed.</li>
        </ul>
        </li>
    </ul>
    </li>
</ul>
<ul>
    <li>Your most recent FAA-issued medical certificate was not <strong>valid after</strong> July 14, 2006.
    <ul>
        <li>You are required to have had an FAA-issued medical certificate valid after July 14, 2006, to be eligible to fly under BasicMed.
        <ul>
            <li>You will need to have a medical exam by an Aviation Medical Examiner and obtain a <strong>new </strong>FAA-issued medical certificate before you can be eligible to fly under BasicMed.</li>
        </ul>
        </li>
    </ul>
    <ul>
        <li>In 2008, the FAA extended the validity period of medicals for pilots under 40. To help determine your eligibility for BasicMed based on your most recent medical issue date use these guidelines:</li>
        <ul>
            <li>Persons age <strong>40 or over on the date of their FAA examination</strong> would meet the BasicMed requirement if their examination was on or after July 15, 2004.</li>
            <li>Persons <strong>under age 40</strong> on the date of their FAA examination would meet the BasicMed requirement if their examination was on or after July 15, 2003</li>
        </ul>
    </ul>
    </li>
</ul>
<ul>
    <li>You are not sure of the expiration date of your last FAA-issued medical certificate.
    <ul>
        <li>You can look up your record in the <a href="https://amsrvs.registry.faa.gov/airmeninquiry/Main.aspx"><strong>Airmen Registry</strong></a> to confirm the date.</li>
    </ul>
    </li>
</ul>
<ul>
    <li>Your most recent FAA-issued medical certificate was <strong>suspended</strong> (at any time) or <strong>revoked</strong>, your most recent FAA medical application was <strong>denied</strong>, or your most recent authorization for special issuance of your medical certificate was <strong>withdrawn</strong>.
      <ul>
        <li>You will need to have a medical exam by an Aviation Medical Examiner and obtain a <strong>new</strong> FAA-issued medical certificate before you can be eligible to fly under BasicMed.</li>
      </ul>
    </li>
</ul>
<ul>
    <li>You were diagnosed with or have had a certain medical event or condition.
    <ul>
        <li>Learn more about medical conditions that require authorization for special issuance of a medical certificate before being eligible to fly under <a href="https://www.faa.gov/licenses_certificates/airmen_certification/basic_med/" target="_blank">BasicMed</a></li>
        <li>Learn more about <a href="https://www.ecfr.gov/cgi-bin/text-idx?SID=aef10c28291cb6f231a0148235227804&amp;mc=true&amp;node=se14.2.68_19&amp;rgn=div8" target="_blank">disqualifying medical conditions</a></li>
        <li>View the FAA&rsquo;s <a href="https://www.faa.gov/about/office_org/headquarters_offices/avs/offices/aam/ame/guide/pharm/dni_dnf/"><strong><em>Guide for Aviation Medical Examiners: Pharmaceuticals (Therapeutic Medications) Do Not Issue &ndash; Do Not Fly</em></strong></a></li>
        <li>View the <a href="https://www.faa.gov/licenses_certificates/medical_certification/media/OTCMedicationsforPilots.pdf"><strong>FAA&rsquo;s Over-The-Counter Medications</strong></a> guide</li>
        <li>View <a href="https://www.aopa.org/go-fly/medical-resources/medications-database"><strong>AOPA&rsquo;s Medication Database</strong></a></li>
    </ul>
    </li>
</ul>
<ul>
    <li>You do not have a <strong>current <em>and</em> valid U.S. driver&rsquo;s license</strong>. Canadian or Mexican driver&rsquo;s licenses do not currently qualify for use under BasicMed Reform.</li>
</ul>
<h2>Let AOPA Help You <em>Before</em> You Start the New Medical Process</h2>
<p><strong>Before you start</strong> the process of obtaining a new FAA-issued medical certificate, especially if you have questions about your eligibility for a first, second, or third class medical certificate, contact the Aircraft Owners and Pilots Association for information about what you need before seeing an Aviation Medical Examiner (AME). <strong>We can help you with an overview of the requirements</strong> and address any concerns you should be aware of before scheduling your exam with an AME.</p>
<p>Call AOPA's Pilot Information Center at <a href="tel:8008722672">(800)872-2672</a>, Monday through Friday, 8:30 a.m. to 6:00 p.m. EST, or email <a href="mailto:medicalassist@aopa.org?subject=BasicMed FAA medical certification">medicalassist@aopa.org</a>. Please identify yourself as someone looking for assistance with FAA medical certification.</p>
<p><strong>Tip: </strong>Consider enrolling in <a href="https://pilot-protection-services.aopa.org/">AOPA&rsquo;s Pilot Protection Services program</a>. The program provides access to AOPA&rsquo;s Legal Services Plan attorneys and medical certification professionals who can evaluate your circumstances to help determine if:</p>
<ul>
    <li>You are eligible to fly under BasicMed</li>
    <li>Your aircraft is a covered aircraft under BasicMed</li>
    <li>Your intended operations will comply with the flight condition limitations under BasicMed</li>
</ul>
<p>Remember, just because you are not currently eligible to fly under BasicMed, it does not mean you won&rsquo;t be able to in the future. Learn more about BasicMed medical reform and the requirements for BasicMed below.</p>
<ul>
    <li>Review our <a href="##-G-FAQs">BasicMed Overview and FAQs</a></li>
	<li>Download <a href="https://basicmedicalcourse.aopa.org/pub/bundles/course_61001/downloads/AOPABasicMed_Pilot_and_Physicians_Guide.pdf" target="_blank" alt="AOPA's BasicMed Pilot and Doctor Guide">AOPA&rsquo;s BasicMed Pilot and Physician Guide</a> (PDF 651 KB)</li>
	<li>Download <a href="https://basicmedicalcourse.aopa.org/pub/bundles/course_61001/downloads/AOPABasicMed_FAQs_BasicMedQuestions.pdf" target="_blank" alt="AOPA's BasicMed Program and Course FAQs">AOPA&rsquo;s BasicMed Overview FAQs</a> (PDF 284 KB)</li>
</ul>
<!--END-->
        <div class="haveQuestions" ng-include="::vm.url.template('common/_page-bottom-have-questions.html')"></div>
      </div>
    <div class="contentPanel2" ng-include="::vm.url.template('common/_page-right-panel-quick-links.html')"></div>
  </div>

  <style>
    h3 {
      color: #2e79a6 !important;
      font-size: 1.4em;
      margin: 0;
    }

    .step label {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      margin: 1em 0 0.3em;
    }

    .step input[type="checkbox"] {
      width: 1.4em;
      height: 1.4em;
      accent-color: #0079a4;
      min-width: 1.4em;
    }

    .steps p {
      margin-left: 2.2em;
    }
  </style>
