<div class="cta quickLinks">
    <h1>QUICK LINKS:</h1>
    <ul class="custom-colored-list">
        <li>
            <a href="#" target="_blank">BasicMed Overview (page G Tab-1)</a>
        </li>
        <li>
            <a href="#" target="_blank">Disqualifying Conditions (page G Tab-2)</a>
        </li>
        <li>
            <a href="#" target="_blank">Flying Under BasicMed (page G Tab-3)</a>
        </li>
        <li>
            <a href="#" target="_blank">BasicMed Eligibility Tool (page I)</a>
        </li>
        <li>
            <a href="https://basicmedicalcourse.aopa.org/pub/bundles/course_61001/downloads/AOPABasicMed_Pilot_and_Physicians_Guide.pdf"
                target="_blank">
                BasicMed Pilot and Doctor Guide (PDF 567k) (page G)
            </a>
        </li>
        <li>
            <a href="https://www.faa.gov/documentLibrary/media/Form/FAA_Form_8700-2_OMB_EXP_06-2026.pdf"
                target="_blank">
                Doctor CMEC Form (PDF 123k)
            </a>
        </li>
        <li>
            <a href="https://www.aopa.org/advocacy/pilots/medical/basicmed/doctor-finder" target="_blank">
                Find a Doctor (page ?)
            </a>
        </li>
        <li>
            <a href="#" target="_blank">Physicians Guide to BasicMed (page H)</a>
        </li>
        <li>
            <a href="#" target="_blank">BasicMed Online Course (page B create account/login)</a>
        </li>
        <li>
            <a href="#" target="_blank">Online Course FAQs (page G Tab-4)</a>
        </li>
    </ul>
</div>
 <div class="didYouKnowContainer" ng-include="::vm.url.template('common/_page-right-panel-did-you-know.html')"></div>