<div class="cta quickLinks">
    <h1>QUICK LINKS:</h1>
    <ul class="custom-colored-list">
        <li>
            <a href="/client/app.html#/info/faq#overview">BasicMed Overview</a>
        </li>
        <li>
            <a href="/client/app.html#/info/faq#disqualifying">Disqualifying Conditions</a>
        </li>
        <li>
            <a href="/client/app.html#/info/faq#flying">Flying Under BasicMed</a>
        </li>
        <li>
            <a href="/client/app.html#/info/eligibility">BasicMed Eligibility Tool </a>
        </li>
        <li>
            <a href="https://basicmedicalcourse.aopa.org/pub/bundles/course_61001/downloads/AOPABasicMed_Pilot_and_Physicians_Guide.pdf"
                target="_blank">
                BasicMed Pilot and Doctor Guide <small style="color: black;">(PDF 567k)</small>
            </a>
        </li>
        <li>
            <a href="https://www.faa.gov/documentLibrary/media/Form/FAA_Form_8700-2_OMB_EXP_06-2026.pdf"
                target="_blank">
                Doctor CMEC Form <small style="color: black;">(PDF 123k)</small>
            </a>
        </li>
        <li>
            <a href="https://www.aopa.org/advocacy/pilots/medical/basicmed/doctor-finder" target="_blank">
                Find a Doctor
            </a>
        </li>
        <li>
            <a href="/client/app.html#/info/guide">Physicians Guide to BasicMed</a>
        </li>
        <li>
            <a href="/client/app.html#/users/signup#create">BasicMed Online Course</a>
        </li>
        <li>
            <a href="/client/app.html#/info/faq#course">Online Course FAQs</a>
        </li>
    </ul>
</div>
 <div class="didYouKnowContainer" ng-include="::vm.url.template('common/_page-right-panel-did-you-know.html')"></div>